In [1]:
pip install billboard.py

Requirement already satisfied: billboard.py in /usr/local/lib/python3.7/dist-packages (7.0.0)
Requirement already satisfied: requests>=2.2.1 in /usr/local/lib/python3.7/dist-packages (from billboard.py) (2.23.0)
Requirement already satisfied: beautifulsoup4>=4.4.1 in /usr/local/lib/python3.7/dist-packages (from billboard.py) (4.6.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.2.1->billboard.py) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.2.1->billboard.py) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.2.1->billboard.py) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.2.1->billboard.py) (2021.10.8)

In [2]:
import billboard
import pandas as pd
import numpy as np
import datetime

In [3]:
artists = []
year = 2021
for y in range(2022-2007):
    chart = billboard.ChartData('Top-Artists',year = year)
    cnt =0
    for chr in chart:
        cnt +=1
        if chr.artist not in artists:
            artists.append(chr.artist)
        if cnt == 10:
            break
    year -=1

In [4]:
print(len(artists))

74

In [5]:
def getData(type, data, titles, artists,date = None, year = None, label = None):
    if date == None:
        HotChart = billboard.ChartData(type, year = year)
    else:
        HotChart = billboard.ChartData(type, date = date)
    for hot in HotChart:
        if hot.title not in titles and hot.artist in artists:
            titles.append(hot.title)
            data.append({'Artist':hot.artist,'Title':hot.title,'Label':label})
    return data, titles

In [6]:
data = []
titles = []
year = 2021
for i in range(2022-2007):
    data, titles = getData('Hot-100-Songs', data, artists, titles, label =1)
    year -=1

In [7]:
print(len(artists))
print(len(data))
print(len(titles))

99
25
99

In [8]:
dates = ['2021-12-01','2021-08-01','2021-04-01','2021-01-01',
        '2020-12-01','2020-08-01','2020-04-01','2020-01-01',
        '2019-12-01','2019-08-01','2019-04-01','2019-01-01',
        '2018-12-01','2018-08-01','2018-04-01','2018-01-01',
        '2017-12-01','2017-08-01','2017-04-01','2017-01-01',
        '2016-12-01','2016-08-01','2016-04-01','2016-01-01',
        '2015-12-01','2015-08-01','2015-04-01','2015-01-01',
        '2014-12-01','2014-08-01','2014-04-01','2014-01-01',
        '2013-12-01','2013-08-01','2013-04-01','2013-01-01',
        '2012-12-01','2012-08-01','2012-04-01','2012-01-01',
        '2011-12-01','2011-08-01','2011-04-01','2011-01-01',
        '2010-12-01','2010-08-01','2010-04-01','2010-01-01',
        '2009-12-01','2009-08-01','2009-04-01','2009-01-01',
        '2008-12-01','2008-08-01','2008-04-01','2008-01-01',
        '2007-12-01','2007-08-01','2007-04-01','2007-01-01']
for date in dates:
    data, titles = getData('hot-100', data, artists, titles, date=date, label=0) # unpopular songs

In [9]:
print(len(artists))
print(len(data))
print(len(titles))

808
734
808

In [10]:
df = pd.DataFrame(data)

In [11]:
df

             Artist                           Title  Label
0        The Weeknd                 Blinding Lights      1
1    Olivia Rodrigo                        Good 4 U      1
2    Olivia Rodrigo                 Drivers License      1
3         Lil Nas X  Montero (Call Me By Your Name)      1
4               BTS                          Butter      1
..              ...                             ...    ...
729      Nickelback                        Far Away      0
730    Gwen Stefani                      Wind It Up      0
731     Chris Brown                     Say Goodbye      0
732    Taylor Swift                      Tim McGraw      0
733         Beyonce                          Listen      0

[734 rows x 3 columns]

In [16]:
df.to_csv('Billboard(2022-2007.csv', index = False)

In [17]:
dataset = pd.read_csv('Billboard(2022-2007.csv')

In [18]:
dataset

             Artist                           Title  Label
0        The Weeknd                 Blinding Lights      1
1    Olivia Rodrigo                        Good 4 U      1
2    Olivia Rodrigo                 Drivers License      1
3         Lil Nas X  Montero (Call Me By Your Name)      1
4               BTS                          Butter      1
..              ...                             ...    ...
729      Nickelback                        Far Away      0
730    Gwen Stefani                      Wind It Up      0
731     Chris Brown                     Say Goodbye      0
732    Taylor Swift                      Tim McGraw      0
733         Beyonce                          Listen      0

[734 rows x 3 columns]